%h1 Listing adjectives

%table
  %tr
    %th Word
    %th Type
    %th Bias
    %th
    %th
    %th

  - @adjectives.each do |adjective|
    %tr
      %td= adjective.word
      %td= adjective.type
      %td= adjective.bias
      %td= link_to 'Show', adjective
      %td= link_to 'Edit', edit_adjective_path(adjective)
      %td= link_to 'Destroy', adjective, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Adjective', new_adjective_path
