- @page_title = "Characters"
%div.block
  %div.content
    %div.inner
      %h2.title Characters
      %table.table
        %tr
          %th Name
          %th Description
          %th Player
          %th Faction
          %th Last Updated
          %th
          %th
        - @characters.each do |character|
          - unless character.npc?
            -if can? :edit, character
              %tr
                %td= link_to character.name, character
                %td= character.description
                %td= character.user.name if character.user
                %td= character.faction.name
                %td= time_ago_in_words(character.updated_at.utc) if character.updated_at
                %td= link_to "Edit", edit_character_path(character) if can? :edit, character
                %td= link_to "Delete", character, :confirm => ('Are you sure you wish to delete ' + character.name+'?'), :method => :delete if can? :destroy, character
  -if current_user.role != "player"
    %div.counter   #{25 - @characters.excludes(:npc => true).count} character spaces remaining.
-if current_user.role != "player" || current_user.characters.excludes(:npc => false).count >= 1
  %div.block
    %div.content
      %div.inner
        %h2.title NPCs
        %table.table
          %tr
            %th Name
            %th Description
            %th Faction
            %th Played By
            %th Owner
            %th Adjectives
            %th Last Updated
            %th
            %th
          -@characters.each do  |character|
            -unless character.npc == false
              -if can? :read, character
                %tr{ :class=> character.faction.tagcolour.downcase }
                  %td= link_to character.name, character
                  %td= character.description
                  %td= character.faction.name
                  %td= character.played_by
                  %td= character.user.name if character.user
                  %td= character.tags_array.count unless character.tags_array.nil?
                  %td= time_ago_in_words(character.updated_at.utc) if character.updated_at
                  %td= link_to "Edit", edit_character_path(character) if can? :edit, character
                  %td= link_to "Delete", character, :confirm => ('Are you sure you wish to delete ' + character.name+'?'), :method => :delete if can? :destroy, character

%br

-if current_user.role == "player" and current_user.characters.excludes(:npc => true).count >= 1
  %p You have enough characters!
-else
  =link_to 'New Character', new_character_path
