- @page_title = "Characters"
%div.block
  %div.content
    %div.inner
      %h2.title Characters
      %table.table
        %tr
          %th Name
          %th Description
          %th Player
          %th Faction
          %th
          %th
        - @characters.each do |character|
          - unless character.npc?
            -if can? :edit, character
              %tr
                %td= link_to character.name, character
                %td= character.description
                -if character.user != nil
                  %td= character.user.name
                -else
                  %td Not Assigned
                %td= character.faction.name
                -if can? :edit, character
                  %td= link_to image_tag("web-app-theme/icons/application_edit.png"), edit_character_path(character)
                -if can? :destroy, character
                  %td= link_to image_tag("web-app-theme/icons/cross.png"), character, :confirm => 'Are you sure?', :method => :delete
- if current_user.role != "player" || current_user.characters.excludes(:npc => false).count >= 1
  %div.block
    %div.content
      %div.inner
        %h2.title NPCs
        %table.table
          %tr
            %th Name
            %th Description
            %th Player
            %th Faction
            %th Adjectives
            %th
            %th
          -@characters.each do  |character|
            -unless character.npc == false
              -if can? :read, character
                %tr{ :class=> character.faction.tagcolour.downcase }
                  %td= link_to character.name, character
                  %td= character.description
                  -if character.user != nil
                    %td= character.user.name
                  -else
                    %td Not Assigned
                  %td= character.faction.name
                  %td= character.adjectives.split(",").count
                  -if can? :edit, character
                    %td= link_to image_tag("web-app-theme/icons/application_edit.png"), edit_character_path(character)
                  -if can? :destroy, character
                    %td= link_to image_tag("web-app-theme/icons/cross.png"), character, :confirm => 'Are you sure?', :method => :delete

%br

-if current_user.role == "player" and current_user.characters.excludes(:npc => true).count >= 1
  %p You have enough characters!
-else
  =link_to 'New Character', new_character_path
