%h1 Characters

%table.table
  %tr
    %th Name
    %th Description
    %th Player
    %th
    %th
    %th

  - @characters.each do |character|
    - unless character.npc?
      %tr
        %td= character.name
        %td= character.description
        -if character.user != nil
          %td= character.user.name
        -else
          %td Not Assigned
        %td= link_to 'Show', character
        -if can? :edit, character
          %td= link_to 'Edit', edit_character_path(character)
        -if can? :destroy, character
          %td= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete
  %tr
    %td
      %h1 NPCs
    %td
  %tr
    %th Name
    %th Description
    %th Player
    %th
    %th
    %th

  - @characters.each do  |character|
    - unless character.npc == false
      %tr
      %td= character.name
      %td= character.description
      -if character.user != nil
        %td= character.user.name
      -else
        %td Not Assigned
      %td= link_to 'Show', character
      -if can? :edit, character
        %td= link_to 'Edit', edit_character_path(character)
      -if can? :destroy, character
        %td= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete

%br


= link_to 'New Character', new_character_path
