%p#notice= notice


#block-text.block
  .content
    %h2.title #{@character.name}
    .inner
      %p.first
        %span.gray #{@character.description}
      %p
        Gender: #{@character.gender}
      -if can? :edit, @character
        %p Adjectives:   #{@character.adjectives} (#{@character.adjectives.split(",").count})

      %p
        :markdown
          #{@character.long_description}
        -if can? :edit, @character
          :markdown
            **Roleplay Hints:**

            #{@character.roleplay_hints}

-if can? :edit, @character
  = link_to 'Edit', edit_character_path(@character)
  \|
= link_to 'Back', characters_path
