%p#notice= notice


#block-text.block
  .content
    %h2.title #{@character.name}
    .inner
      %p.first
        %span.gray #{@character.description}
      %p
        Gender: #{@character.gender}
      %p
        :markdownsmart
          #{@character.long_description}
      -if can? :read, @character
        %p Adjectives:
        %p
          -unless @character.tags_array.nil?
            =@character.tags
            =@character.tags_array.count
        :markdownsmart
          **Roleplay Hints:**

          #{@character.roleplay_hints}
      -if can? :read, @character
        = link_to 'Edit', edit_character_path(@character)
        \|
      = link_to 'Back', characters_path
