%p#notice= notice

%p
  %b Name:
  = @character.name
%p
  %b Description:
  = @character.description
%p
  %b Long description:
  = @character.long_description
-if can? :edit, @character
  = link_to 'Edit', edit_character_path(@character)
  \|
= link_to 'Back', characters_path
